.footer {
  padding: 4.8rem 11.2rem;
  background-color: #000;
  color: #757575;
}

.footer > p {
  padding-bottom: 2rem;
  font-size: 1.6rem;
}

.footer__contents {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
  /* max-width: 99%; */
}

.footer__row > p {
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.footer__row > p:hover {
  box-shadow: 1px 2px 5px 0.8rem #111;

  transform: rotate(-10deg) scale(1.08);
}

@media only screen and (max-width: 768px) {
  .accordion {
    padding: 2rem 1rem;
  }
}
